<div class="side-bar">
    
    <a [routerLink]="['/youtube/home']" class="links active"><img src="./assets/home.png" alt="">home</a>
    <a [routerLink]="['/youtube/home']" class="links"><img src="./assets/explore.png" alt="">explore</a>
    <a [routerLink]="['/youtube/home']"  class="links"><img src="./assets/subscriprion.png" alt="">subscription</a>
    <hr class="seperator">
    <a [routerLink]="['/youtube/filter']"  class="links"><img src="/assets/library.png" alt="">library</a>
    <a [routerLink]="['/youtube/filter']"  class="links"><img src="./assets/history.png" alt="">history</a>
    <a href="#" class="links"><img src="./assets/your-video.png" alt="">your video</a>
    <a href="#" class="links"><img src="./assets/watch-later.png" alt="">watch leater</a>
    <a href="#" class="links"><img src="./assets/like.png" alt="">like video</a>
    <a href="#" class="links"><img src="./assets/show-more.png" alt="">show more</a>
</div>

       
